### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [212]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [213]:
# counting unique players

total_players_df = purchase_data_df["SN"].nunique()
data = [total_players_df] 
total_players_df= pd.DataFrame(data, columns = ["Total Players"])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [90]:
# Calculations
unique_items_df = purchase_data_df["Item Name"].nunique()
average_price_df = purchase_data_df["Price"].mean()
number_purchases_df = purchase_data_df["SN"].count()
total_revenue_df = purchase_data_df["Price"].sum()

# writing to df
data = {"Number of Unique Items":[unique_items_df], "Average Price": [average_price_df], "Number of Purchases": [number_purchases_df], "Total Revenue": [total_revenue_df]}
summary_data_df = pd.DataFrame(data)
summary_data_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [91]:
# Drop duplicate names
drop_duplicates_df = purchase_data_df.drop_duplicates(subset='SN', keep="last")
drop_duplicates_df 

# count genders
counted_gender_df = drop_duplicates_df["Gender"].value_counts().rename_axis('Gender').to_frame('Total Count')
counted_gender_df

# calclate percent
gender_percent_df = drop_duplicates_df["Gender"].value_counts(normalize=True) * 100
percent_df = gender_percent_df.rename_axis("Gender").to_frame('Percentage of Players')

# Merge Data Frames
merged_genger_demographcs_df = pd.merge(counted_gender_df, percent_df, on = "Gender")
merged_genger_demographcs_df

                       Total Count  Percentage of Players
Gender
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
# Calculate gender counts
gender_purchase_counts_df=purchase_data_df["Gender"].value_counts().rename_axis('Gender').to_frame('Purchase Count')

In [93]:
# Calculate Average Purchase Price
grouped_gender_df = purchase_data_df.groupby('Gender', as_index=False).Price.mean()

avg_purchase_price_df= grouped_gender_df.set_index('Gender')

avg_purchase_price_df  = avg_purchase_price_df.rename(
    columns={"Price": "Average Purchase Price"})

In [94]:
# Calculate Total Purchase Value
grouped_gender__total_df = purchase_data_df.groupby('Gender', as_index=False).Price.sum()

total_purchase_value_df = grouped_gender__total_df.set_index('Gender')

total_purchase_value_df  = total_purchase_value_df .rename(
    columns={"Price": "Total Purchase Value"})

In [95]:
#Calculate and merge average per person
merge_total_count_and_total_purchase_df =pd.merge(gender_purchase_counts_df, avg_purchase_price_df, on = "Gender")

In [96]:
#Merge count, avg purcchase and total purchase
merge_count_avgpurchase_and_total_purchase_df =pd.merge(merge_total_count_and_total_purchase_df, total_purchase_value_df, on = "Gender")

In [97]:
#Calculate and merge average per person
merge_total_count_and_total_purchase_df =pd.merge(counted_gender_df, total_purchase_value_df, on = "Gender")
merge_total_count_and_total_purchase_df
merge_total_count_and_total_purchase_df
price_average_df = total_purchase_value_df['Total Purchase Value']/counted_gender_df['Total Count']
average_per_person_df = pd.DataFrame(price_average_df)
average_per_person_df.columns = ['Avg Total Purchase per Person']

In [60]:
merge_all_df = pd.merge(merge_count_avgpurchase_and_total_purchase_df, average_per_person_df , on = "Gender")
merge_all_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [98]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

ranges = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

drop_duplicates_df["Age Summary"]= pd.cut(drop_duplicates_df["Age"], bins, labels=ranges)

C:\Users\kwelter\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [209]:
#Calculate Age Counts

age_counts_df=drop_duplicates_df["Age Summary"].value_counts().rename_axis('Age Summary').to_frame('Total Count')

In [207]:
#Calculate total players
total_players_byage_df= age_counts_df["Total Count"].sum()

In [146]:
#Calculate Average
avg_by_age_df = age_counts_df['Total Count']/total_players_byage_df


summary_avg_by_age_df = pd.DataFrame(avg_by_age_df)


renamed_age_percentage_df = summary_avg_by_age_df.rename(columns={'Total Count': 'Percentage of Players'})

In [147]:
# Merge purchase by age data
merge_purchase_age_data_df = pd.merge(age_counts_df, renamed_age_percentage_df  , on = "Age Summary")
merge_purchase_age_data_df.sort_values("Age Summary")

             Total Count  Percentage of Players
Age Summary
<10                   17               0.029514
10-14                 22               0.038194
15-19                107               0.185764
20-24                258               0.447917
25-29                 77               0.133681
30-34                 52               0.090278
35-39                 31               0.053819
40+                   12               0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [160]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

ranges = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data_df["Age Summary"]= pd.cut(purchase_data_df["Age"], bins, labels=ranges)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [161]:
#Calculate Purchase Counts

purchase_counts_df=purchase_data_df["Age Summary"].value_counts().rename_axis('Age Summary').to_frame('Purchase Count')
purchase_counts_df

             Purchase Count
Age Summary
20-24                   365
15-19                   136
25-29                   101
30-34                    73
35-39                    41
10-14                    28
<10                      23
40+                      13

In [180]:
#Calculate Avg Purchase Price
average_price_byage_df = purchase_data_df.groupby('Age Summary', as_index=False).Price.mean()

indexed_average_price_byage_df = average_price_byage_df.set_index('Age Summary')

indexed_average_price_byage_df = indexed_average_price_byage_df.rename(
    columns={"Price": "Average Purchase Price"})
indexed_average_price_byage_df

             Average Purchase Price
Age Summary
<10                        3.353478
10-14                      2.956429
15-19                      3.035956
20-24                      3.052219
25-29                      2.900990
30-34                      2.931507
35-39                      3.601707
40+                        2.941538

In [181]:
total_price_byage_df = purchase_data_df.groupby('Age Summary', as_index=False).Price.sum()

indexed_total_price_byage_df = total_price_byage_df.set_index('Age Summary')

indexed_total_price_byage_df = indexed_total_price_byage_df.rename(
    columns={"Price": "Total Purchase Value"})
indexed_total_price_byage_df

             Total Purchase Value
Age Summary
<10                         77.13
10-14                       82.78
15-19                      412.89
20-24                     1114.06
25-29                      293.00
30-34                      214.00
35-39                      147.67
40+                         38.24

In [210]:
#Avg Total Purchase per Person
price_average_per_person_byage_df = indexed_total_price_byage_df['Total Purchase Value']/age_counts_df['Total Count']
price_average_byage_df = pd.DataFrame(price_average_per_person_byage_df)

price_average_byage_df.columns = ['Avg Total Purchase per Person']
price_average_byage_df

             Avg Total Purchase per Person
Age Summary
<10                               4.537059
10-14                             3.762727
15-19                             3.858785
20-24                             4.318062
25-29                             3.805195
30-34                             4.115385
35-39                             4.763548
40+                               3.186667

In [211]:
#Merging
merge_age_one_df = pd.merge(purchase_counts_df, indexed_average_price_byage_df, on = "Age Summary")
merge_age_two_df = pd.merge(merge_age_one_df, indexed_total_price_byage_df, on = "Age Summary")
final_merge_age_df = pd.merge(merge_age_two_df, price_average_byage_df, on = "Age Summary")
final_merge_age_df.sort_values("Age Summary")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Summary,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [182]:
#Calculate Purchase Count by Name
purchaseSN_count_df = purchase_data_df["SN"].value_counts().rename_axis('Name').to_frame('Purchase Count')

In [183]:
#Calculate Total Purchase Value by Name
grouped_SN__total_df = purchase_data_df.groupby('SN', as_index=False).Price.sum()

totalSN_purchase_value_df = grouped_SN__total_df.set_index('SN')

totalSN_purchase_value_df  = totalSN_purchase_value_df .rename(
        columns={"Price": "Total Purchase Value"})

totalSN_purchase_value_df.index.rename('Name',inplace=True)

In [184]:
# Calculate Average Purchase Price by Name
priceSN_average_df = totalSN_purchase_value_df['Total Purchase Value']/purchaseSN_count_df['Purchase Count']
averageSN_per_person_df = pd.DataFrame(priceSN_average_df)

averageSN_per_person_df.columns = ['Avg Purchase Price']

averageSN_per_person_df.index.rename('Name',inplace=True)

In [191]:
merge_SN_df = pd.merge(purchaseSN_count_df, averageSN_per_person_df, on = "Name")


final_merge_df = pd.merge(merge_SN_df, totalSN_purchase_value_df, on = "Name")
final_merge_df.sort_values("Total Purchase Value", ascending=False).head()

             Purchase Count  Avg Purchase Price  Total Purchase Value
Name
Lisosia93                 5            3.792000                 18.96
Idastidru52               4            3.862500                 15.45
Chamjask73                3            4.610000                 13.83
Iral74                    4            3.405000                 13.62
Iskadarya95               3            4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [186]:
#v Most Popular Item
popular_count_df = purchase_data_df["Item Name"].value_counts().rename_axis('Item Name').to_frame('Purchase Count')

In [187]:
# List Item Price 
grouped_item__total_df = purchase_data_df.groupby('Item Name', as_index=False).Price.sum()

item_price_df = grouped_item__total_df.set_index('Item Name')

In [188]:
#Calculate Price
#Calculate Total Purchase Value by Name
grouped_item__total_df = purchase_data_df.groupby('Item Name', as_index=False).Price.sum()

totalITEM_purchase_value_df = grouped_item__total_df.set_index('Item Name')

totalITEM_purchase_value_df = totalITEM_purchase_value_df .rename(
        columns={"Price": "Total Purchase Value"})

totalITEM_purchase_value_df.index.rename('Item Name',inplace=True)

In [189]:
# Merging Data
popular_merge_df = pd.merge(popular_count_df, item_price_df, on = "Item Name")

popular_merge2_df = pd.merge(popular_merge_df , totalITEM_purchase_value_df, on = "Item Name")
popular_merge2_df.head(6)

,Purchase Count,Price,Total Purchase Value
Item Name,,,
Final Critic,13,59.99,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,50.76
Nirvana,9,44.10,44.10
"Extraction, Quickblade Of Trembling Hands",9,31.77,31.77
Fiery Glass Crusader,9,41.22,41.22
Persuasion,9,28.99,28.99

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [190]:
popular_merge2_df.sort_values("Total Purchase Value", ascending = False).head()

,Purchase Count,Price,Total Purchase Value
Item Name,,,
Final Critic,13,59.99,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,50.76
Nirvana,9,44.10,44.10
Fiery Glass Crusader,9,41.22,41.22
Singed Scalpel,8,34.80,34.80