### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [252]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [253]:
# counting unique players

total_players_df = purchase_data_df["SN"].nunique()

data = [total_players_df] 

total_players_df= pd.DataFrame(data, columns = ["Total Players"])

total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [254]:
# Calculations
unique_items_df = purchase_data_df["Item Name"].nunique()
average_price_df = purchase_data_df["Price"].mean()
number_purchases_df = purchase_data_df["SN"].count()
total_revenue_df = purchase_data_df["Price"].sum()

# writing to df
data = {"Number of Unique Items":[unique_items_df], "Average Price": [average_price_df], "Number of Purchases": [number_purchases_df], "Total Revenue": [total_revenue_df]}
summary_data_df = pd.DataFrame(data)
summary_data_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [255]:
# Drop duplicate names
drop_duplicates_df = purchase_data_df.drop_duplicates(subset='SN', keep="last")

drop_duplicates_df 

# count genders
counted_gender_df = drop_duplicates_df["Gender"].value_counts().rename_axis('Gender').to_frame('Total Count')

counted_gender_df

# calclate percent
gender_percent_df = drop_duplicates_df["Gender"].value_counts(normalize=True) * 100

percent_df = gender_percent_df.rename_axis("Gender").to_frame('Percentage of Players')

# Merge Data Frames
merged_genger_demographcs_df = pd.merge(counted_gender_df, percent_df, on = "Gender")

merged_genger_demographcs_df

                       Total Count  Percentage of Players
Gender
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [256]:
# Calculate gender counts
gender_purchase_counts_df=purchase_data_df["Gender"].value_counts().rename_axis('Gender').to_frame('Purchase Count')

In [257]:
# Calculate Average Purchase Price
grouped_gender_df = purchase_data_df.groupby('Gender', as_index=False).Price.mean()

avg_purchase_price_df= grouped_gender_df.set_index('Gender')

avg_purchase_price_df  = avg_purchase_price_df.rename(
    columns={"Price": "Average Purchase Price"})

In [258]:
# Calculate Total Purchase Value
grouped_gender__total_df = purchase_data_df.groupby('Gender', as_index=False).Price.sum()

total_purchase_value_df = grouped_gender__total_df.set_index('Gender')

total_purchase_value_df  = total_purchase_value_df .rename(
    columns={"Price": "Total Purchase Value"})

In [259]:
#Calculate and merge average per person
merge_total_count_and_total_purchase_df =pd.merge(counted_gender_df, total_purchase_value_df, on = "Gender")

merge_total_count_and_total_purchase_df

merge_total_count_and_total_purchase_df

price_average_df = total_purchase_value_df['Total Purchase Value']/counted_gender_df['Total Count']
average_per_person_df = pd.DataFrame(price_average_df)

average_per_person_df.columns = ['Avg Total Purchase per Person']

In [260]:
# Merged 3 calculations
merge_two_df =pd.merge(purchasing_analysis_summary_df, total_purchase_value_df, on = "Gender")
# Merge all calculated data
merge_all_df = pd.merge(merge_two_df, average_per_person_df, on = "Gender")
merge_all_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [261]:
age_df = purchase_data_df["Age"].value_counts().to_frame('Total Count')
age_df.head()

    Total Count
20           99
22           70
24           67
23           67
21           62

In [262]:
bins = [1, 10, 15, 20, 25, 30, 35, 40, 100]
namesofbins = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Create the names for the five bins
# group_names = ["Total Count", "Percentage of Players"]

age_demo_df = pd.cut(purchase_data_df["Age"], bins, labels=namesofbins, include_lowest=True)
age_demo_df

0      15-19
1      35-39
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    15-19
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [211]:
bins = [1, 10, 15, 20, 25, 30, 35, 40, 100]

age = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Create the names for the five bins
group_names = ["Total Count", "Percentage of Players"]

data_df = pd.cut(purchase_data_df["Age"], bins, labels=age, include_lowest=True)
data_df

KeyError: 'Age'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [294]:
#Calculate Purchase Count by Name
purchase_data_df.head()

purchaseSN_count_df = purchase_data_df["SN"].value_counts().rename_axis('Name').to_frame('Purchase Count')

purchaseSN_count_df

              Purchase Count
Name
Lisosia93                  5
Idastidru52                4
Iral74                     4
Saedaiphos46               3
Idai61                     3
...                      ...
Chadossa89                 1
Chadistaya75               1
Ealiril69                  1
Mindimnya67                1
Eyista89                   1

[576 rows x 1 columns]

In [305]:
#Calculate Total Purchase Value by Name
grouped_SN__total_df = purchase_data_df.groupby('SN', as_index=False).Price.sum()

totalSN_purchase_value_df = grouped_SN__total_df.set_index('SN')

totalSN_purchase_value_df  = totalSN_purchase_value_df .rename(
    columns={"Price": "Total Purchase Value"})
totalSN_purchase_value_df.sort_values("Total Purchase Value", ascending = False).head()

             Total Purchase Value
SN
Lisosia93                   18.96
Idastidru52                 15.45
Chamjask73                  13.83
Iral74                      13.62
Iskadarya95                 13.10

In [296]:
# Calculate Average Purchase Price by Name
priceSN_average_df = totalSN_purchase_value_df['Total Purchase Value']/purchaseSN_count_df['Purchase Count']
averageSN_per_person_df = pd.DataFrame(priceSN_average_df)

averageSN_per_person_df.columns = ['Avg Purchase Price']

averageSN_per_person_df.head()

              Avg Purchase Price
Adairialis76                2.28
Adastirin33                 4.48
Aeda94                      4.91
Aela59                      4.32
Aelaria33                   1.79

In [299]:
merge_SN_df = pd.merge(purchaseSN_count_df, totalSN_purchase_value_df, on = "SN")
merge_SN_df

KeyError: 'SN'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80